# Preparing data for ____

###### We are making a model to predict road accidents in NYC. 
To do this, we are going to use the following data 
- hourly traffic count on the bridges and tunnels of NYC 
- vehicle crashes in NYC 

We'll use the month, time of day and the vehicle count to predict how many accidents will happen at a future time and date for a given vehicle count.

We'll do this by... before you understand how we're doing this you must see-
### The datasets we are working with:

In [1]:
import pandas as pd

In [2]:
# hourly traffic raw data
dfHourlyTraffic = pd.read_csv('HourlyTraffic.csv')
dfHourlyTraffic.head()

,Plaza ID,Date,Hour,Direction,# Vehicles - ETC (E-ZPass),# Vehicles - Cash/VToll
0,1,11/28/2015,0,I,477,205
1,1,11/28/2015,0,O,486,252
2,1,11/28/2015,1,I,350,171
3,1,11/28/2015,1,O,307,182
4,1,11/28/2015,2,I,280,133

In [3]:
# vehicle crash data
dfVehicleCrashes = pd.read_csv('VehicleCrashes.csv', low_memory=False)
dfVehicleCrashes.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,10/16/2018,0:00,BROOKLYN,11215,40.668990,-73.99641,"(40.66899, -73.99641)",15 STREET,2 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4001454,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,10/16/2018,0:00,MANHATTAN,10039,40.824196,-73.94224,"(40.824196, -73.94224)",NaN,NaN,85 BRADHURST AVENUE,...,NaN,NaN,NaN,NaN,4000711,Sedan,NaN,NaN,NaN,NaN
2,10/16/2018,0:00,QUEENS,11414,40.668860,-73.85491,"(40.66886, -73.85491)",80 STREET,149 AVENUE,NaN,...,NaN,NaN,NaN,NaN,4002838,NaN,NaN,NaN,NaN,NaN
3,10/16/2018,0:00,NaN,NaN,40.788692,-73.93787,"(40.788692, -73.93787)",EAST 106 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4001629,Sedan,Sedan,NaN,NaN,NaN
4,10/16/2018,0:00,NaN,NaN,40.757668,-73.95915,"(40.757668, -73.95915)",FDR DRIVE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4000768,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN

#### Modifying hourly traffic data to get Date-Hour-VehicleCount and Creating new df of 0 accidents

In [4]:
dfHourlyTraffic = pd.read_csv('HourlyTraffic.csv')
dfHourlyTraffic.head()

dfHourlyTraffic = dfHourlyTraffic[:35000]
dfHourlyTraffic['VehicleCount'] = dfHourlyTraffic['# Vehicles - ETC (E-ZPass)'] + dfHourlyTraffic['# Vehicles - Cash/VToll']
dfHourlyTraffic = dfHourlyTraffic.filter(items=['Date', 'Hour', 'VehicleCount'])
hourlyTrafficCount = dfHourlyTraffic.groupby(dfHourlyTraffic.index // 2).sum().VehicleCount
dfHourlyTraffic = dfHourlyTraffic[dfHourlyTraffic.index % 2 != 0].reset_index()
dfHourlyTraffic.VehicleCount = hourlyTrafficCount
dfHourlyTraffic = dfHourlyTraffic.filter(items=['Date', 'Hour', 'VehicleCount'])
dfHourlyTraffic.Date = pd.to_datetime(dfHourlyTraffic.Date)
dateCopy = dfHourlyTraffic.Date
dfHourlyTraffic['DateCopy'] = dateCopy
dfHourlyTraffic = dfHourlyTraffic.set_index('Date')
dfHourlyTraffic = dfHourlyTraffic[:'2014-01-24']

dfHourlyTrafficPartial = dfHourlyTraffic.filter(items = ['DateCopy', 'Hour'])
dfHourlyTrafficPartial['DateHourHash'] = dfHourlyTrafficPartial.apply(lambda row: str(row.DateCopy)[:10] + str(row.Hour), axis=1)
dfHourlyTraffic['DateHourHash'] = dfHourlyTrafficPartial['DateHourHash']
dfHourlyTraffic = dfHourlyTraffic.set_index('DateHourHash')
dfHourlyTraffic

              Hour  VehicleCount   DateCopy
DateHourHash
2015-11-280      0          1420 2015-11-28
2015-11-281      1          1010 2015-11-28
2015-11-282      2           805 2015-11-28
2015-11-283      3           890 2015-11-28
2015-11-284      4          1234 2015-11-28
2015-11-285      5          1306 2015-11-28
2015-11-286      6          1866 2015-11-28
2015-11-287      7          2356 2015-11-28
2015-11-288      8          2787 2015-11-28
2015-11-289      9          3230 2015-11-28
2015-11-2810    10          3559 2015-11-28
2015-11-2811    11          3847 2015-11-28
2015-11-2812    12          3907 2015-11-28
2015-11-2813    13          4063 2015-11-28
2015-11-2814    14          4217 2015-11-28
2015-11-2815    15          4399 2015-11-28
2015-11-2816    16          4294 2015-11-28
2015-11-2817    17          4317 2015-11-28
2015-11-2818    18          4475 2015-11-28
2015-11-2819    19          4378 2015-11-28
2015-11-2820    20          3695 2015-11-28
2015-11-2821    21          3235 2015-11-28
2015-11-2822    22          3456 2015-11-28
2015-11-2823    23          2820 2015-11-28
2015-11-270      0          2518 2015-11-27
2015-11-271      1          1509 2015-11-27
2015-11-272      2           968 2015-11-27
2015-11-273      3           778 2015-11-27
2015-11-274      4           960 2015-11-27
2015-11-275      5          1555 2015-11-27
...            ...           ...        ...
2014-01-2518    18          3279 2014-01-25
2014-01-2519    19          3085 2014-01-25
2014-01-2520    20          2767 2014-01-25
2014-01-2521    21          2371 2014-01-25
2014-01-2522    22          2235 2014-01-25
2014-01-2523    23          2023 2014-01-25
2014-01-240      0          1091 2014-01-24
2014-01-241      1           691 2014-01-24
2014-01-242      2           508 2014-01-24
2014-01-243      3           558 2014-01-24
2014-01-244      4          1033 2014-01-24
2014-01-245      5          2046 2014-01-24
2014-01-246      6          3969 2014-01-24
2014-01-247      7          5338 2014-01-24
2014-01-248      8          5063 2014-01-24
2014-01-249      9          4641 2014-01-24
2014-01-2410    10          4083 2014-01-24
2014-01-2411    11          3761 2014-01-24
2014-01-2412    12          3836 2014-01-24
2014-01-2413    13          3871 2014-01-24
2014-01-2414    14          4108 2014-01-24
2014-01-2415    15          5098 2014-01-24
2014-01-2416    16          5097 2014-01-24
2014-01-2417    17          4745 2014-01-24
2014-01-2418    18          4459 2014-01-24
2014-01-2419    19          4024 2014-01-24
2014-01-2420    20          3247 2014-01-24
2014-01-2421    21          2670 2014-01-24
2014-01-2422    22          2404 2014-01-24
2014-01-2423    23          1968 2014-01-24

[16152 rows x 3 columns]

In [22]:
newZeroAccidentDf = dfHourlyTraffic
newZeroAccidentDf['AccidentCount'] = 0
newZeroAccidentDf = newZeroAccidentDf.AccidentCount
newZeroAccidentDf

DateHourHash
2015-11-280     0
2015-11-281     0
2015-11-282     0
2015-11-283     0
2015-11-284     0
2015-11-285     0
2015-11-286     0
2015-11-287     0
2015-11-288     0
2015-11-289     0
2015-11-2810    0
2015-11-2811    0
2015-11-2812    0
2015-11-2813    0
2015-11-2814    0
2015-11-2815    0
2015-11-2816    0
2015-11-2817    0
2015-11-2818    0
2015-11-2819    0
2015-11-2820    0
2015-11-2821    0
2015-11-2822    0
2015-11-2823    0
2015-11-270     0
2015-11-271     0
2015-11-272     0
2015-11-273     0
2015-11-274     0
2015-11-275     0
               ..
2014-01-2518    0
2014-01-2519    0
2014-01-2520    0
2014-01-2521    0
2014-01-2522    0
2014-01-2523    0
2014-01-240     0
2014-01-241     0
2014-01-242     0
2014-01-243     0
2014-01-244     0
2014-01-245     0
2014-01-246     0
2014-01-247     0
2014-01-248     0
2014-01-249     0
2014-01-2410    0
2014-01-2411    0
2014-01-2412    0
2014-01-2413    0
2014-01-2414    0
2014-01-2415    0
2014-01-2416    0
2014-01-2417    0
2014-01-2418    0
2014-01-2419    0
2014-01-2420    0
2014-01-2421    0
2014-01-2422    0
2014-01-2423    0
Name: AccidentCount, Length: 16152, dtype: int64

#### Getting processed AccidentCountData to update accident counts and merge them with dfHourlyTraffic

In [6]:
dfAccidentCounts = pd.read_csv('AccidentCountsProcessed.csv')
dfAccidentCounts.head()

   Unnamed: 0      date  hour  accidents
0           0  12/31/15     0         17
1           1  12/30/15     6          1
2           2  12/31/15     0         13
3           3  12/31/15    10         20
4           4  12/31/15    11         21

In [24]:
dfAccidentCounts = pd.read_csv('AccidentCountsProcessed.csv')
#dfAccidentCounts.head()

dfAccidentCounts.date = pd.to_datetime(dfAccidentCounts.date)
dfAccidentCounts['DateHourHash'] = dfAccidentCounts.apply(lambda row: str(row.date)[:10] + str(row.hour), axis=1)
#dfAccidentCounts = dfAccidentCounts.set_index('date')
#dfAccidentCounts = dfAccidentCounts['2015-12-31']
#dfAccidentCounts
#dfAccidentCounts = dfAccidentCounts.set_index('DateHourHash')
#dfAccidentCounts = dfAccidentCounts.accidents
#dfAccidentCounts
dfAccidentCounts
#df.loc[df.Name.isin(df1.Name), ['Nonprofit', 'Education']] = df1[['Nonprofit', 'Education']]
newZeroAccidentDf = newZeroAccidentDf.reset_index()
newZeroAccidentDf.loc[newZeroAccidentDf.DateHourHash.isin(dfAccidentCounts.DateHourHash),['AccidentCount']] = dfAccidentCounts['accidents']
correctAccidentCount = newZeroAccidentDf.filter(items = ['DateHourHash', 'AccidentCount'])
correctAccidentCount = correctAccidentCount.set_index('DateHourHash')
correctAccidentCount
finalDf = pd.concat([correctAccidentCount, dfHourlyTraffic], axis=1)
finalDf = finalDf[['DateCopy', 'Hour', 'VehicleCount', 'AccidentCount']]
#getting rid of duplicate AccidentCount column of count 0's
finalDf = finalDf.iloc[:,:4]
finalDf['Month'] = finalDf.apply(lambda row: str(row.DateCopy)[5:7], axis=1)
finalDf.to_csv('datasetForML.csv')
finalDf

               DateCopy  Hour  VehicleCount  AccidentCount Month
DateHourHash
2015-11-280  2015-11-28     0          1420             17    11
2015-11-281  2015-11-28     1          1010              1    11
2015-11-282  2015-11-28     2           805             13    11
2015-11-283  2015-11-28     3           890             20    11
2015-11-284  2015-11-28     4          1234             21    11
2015-11-285  2015-11-28     5          1306             30    11
2015-11-286  2015-11-28     6          1866             32    11
2015-11-287  2015-11-28     7          2356              1    11
2015-11-288  2015-11-28     8          2787             37    11
2015-11-289  2015-11-28     9          3230             29    11
2015-11-2810 2015-11-28    10          3559             26    11
2015-11-2811 2015-11-28    11          3847              1    11
2015-11-2812 2015-11-28    12          3907              6    11
2015-11-2813 2015-11-28    13          4063             42    11
2015-11-2814 2015-11-28    14          4217             31    11
2015-11-2815 2015-11-28    15          4399             28    11
2015-11-2816 2015-11-28    16          4294             12    11
2015-11-2817 2015-11-28    17          4317             19    11
2015-11-2818 2015-11-28    18          4475              1    11
2015-11-2819 2015-11-28    19          4378             15    11
2015-11-2820 2015-11-28    20          3695             15    11
2015-11-2821 2015-11-28    21          3235             21    11
2015-11-2822 2015-11-28    22          3456             14    11
2015-11-2823 2015-11-28    23          2820              4    11
2015-11-270  2015-11-27     0          2518              1    11
2015-11-271  2015-11-27     1          1509              6    11
2015-11-272  2015-11-27     2           968              6    11
2015-11-273  2015-11-27     3           778              2    11
2015-11-274  2015-11-27     4           960             12    11
2015-11-275  2015-11-27     5          1555             10    11
...                 ...   ...           ...            ...   ...
2014-01-2518 2014-01-25    18          3279              3    01
2014-01-2519 2014-01-25    19          3085             16    01
2014-01-2520 2014-01-25    20          2767              4    01
2014-01-2521 2014-01-25    21          2371              1    01
2014-01-2522 2014-01-25    22          2235              8    01
2014-01-2523 2014-01-25    23          2023             25    01
2014-01-240  2014-01-24     0          1091             15    01
2014-01-241  2014-01-24     1           691              0    01
2014-01-242  2014-01-24     2           508              0    01
2014-01-243  2014-01-24     3           558              0    01
2014-01-244  2014-01-24     4          1033              0    01
2014-01-245  2014-01-24     5          2046              0    01
2014-01-246  2014-01-24     6          3969              0    01
2014-01-247  2014-01-24     7          5338              0    01
2014-01-248  2014-01-24     8          5063              0    01
2014-01-249  2014-01-24     9          4641              0    01
2014-01-2410 2014-01-24    10          4083             22    01
2014-01-2411 2014-01-24    11          3761              0    01
2014-01-2412 2014-01-24    12          3836              0    01
2014-01-2413 2014-01-24    13          3871              0    01
2014-01-2414 2014-01-24    14          4108              0    01
2014-01-2415 2014-01-24    15          5098              0    01
2014-01-2416 2014-01-24    16          5097              0    01
2014-01-2417 2014-01-24    17          4745              0    01
2014-01-2418 2014-01-24    18          4459              0    01
2014-01-2419 2014-01-24    19          4024              0    01
2014-01-2420 2014-01-24    20          3247              0    01
2014-01-2421 2014-01-24    21          2670              0    01
2014-01-2422 2014-01-24    22          2404              0    01
2014-01-2423 2014-01-24    23          1968              0    01

[16152 rows x 5 columns]