# Preparing data for ____

###### We are making a model to predict road accidents in NYC. 
To do this, we are going to use the following data 
- hourly traffic count on the bridges and tunnels of NYC 
- vehicle crashes in NYC 

We'll use the month, time of day and the vehicle count to predict how many accidents will happen at a future time and date for a given vehicle count.

We'll do this by... before you understand how we're doing this you must see-
### The datasets we are working with:

In [1]:
import pandas as pd

In [12]:
# hourly traffic raw data
dfHourlyTraffic = pd.read_csv('HourlyTraffic.csv')
dfHourlyTraffic.head()

,Plaza ID,Date,Hour,Direction,# Vehicles - ETC (E-ZPass),# Vehicles - Cash/VToll
0,1,11/28/2015,0,I,477,205
1,1,11/28/2015,0,O,486,252
2,1,11/28/2015,1,I,350,171
3,1,11/28/2015,1,O,307,182
4,1,11/28/2015,2,I,280,133

In [3]:
# vehicle crash data
dfVehicleCrashes = pd.read_csv('VehicleCrashes.csv', low_memory=False)
dfVehicleCrashes.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,10/16/2018,0:00,BROOKLYN,11215,40.668990,-73.99641,"(40.66899, -73.99641)",15 STREET,2 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4001454,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,10/16/2018,0:00,MANHATTAN,10039,40.824196,-73.94224,"(40.824196, -73.94224)",NaN,NaN,85 BRADHURST AVENUE,...,NaN,NaN,NaN,NaN,4000711,Sedan,NaN,NaN,NaN,NaN
2,10/16/2018,0:00,QUEENS,11414,40.668860,-73.85491,"(40.66886, -73.85491)",80 STREET,149 AVENUE,NaN,...,NaN,NaN,NaN,NaN,4002838,NaN,NaN,NaN,NaN,NaN
3,10/16/2018,0:00,NaN,NaN,40.788692,-73.93787,"(40.788692, -73.93787)",EAST 106 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4001629,Sedan,Sedan,NaN,NaN,NaN
4,10/16/2018,0:00,NaN,NaN,40.757668,-73.95915,"(40.757668, -73.95915)",FDR DRIVE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4000768,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN

#### Modifying hourly traffic data to get Date-Hour-VehicleCount and Creating new df of 0 accidents

In [58]:
dfHourlyTraffic = pd.read_csv('HourlyTraffic.csv')
dfHourlyTraffic.head()

dfHourlyTraffic = dfHourlyTraffic[:35000]
dfHourlyTraffic['VehicleCount'] = dfHourlyTraffic['# Vehicles - ETC (E-ZPass)'] + dfHourlyTraffic['# Vehicles - Cash/VToll']
dfHourlyTraffic = dfHourlyTraffic.filter(items=['Date', 'Hour', 'VehicleCount'])
hourlyTrafficCount = dfHourlyTraffic.groupby(dfHourlyTraffic.index // 2).sum().VehicleCount
dfHourlyTraffic = dfHourlyTraffic[dfHourlyTraffic.index % 2 != 0].reset_index()
dfHourlyTraffic.VehicleCount = hourlyTrafficCount
dfHourlyTraffic = dfHourlyTraffic.filter(items=['Date', 'Hour', 'VehicleCount'])
dfHourlyTraffic.Date = pd.to_datetime(dfHourlyTraffic.Date)
dateCopy = dfHourlyTraffic.Date
dfHourlyTraffic['DateCopy'] = dateCopy
dfHourlyTraffic = dfHourlyTraffic.set_index('Date')
dfHourlyTraffic = dfHourlyTraffic[:'2014-01-01']

dfHourlyTrafficPartial = dfHourlyTraffic.filter(items = ['DateCopy', 'Hour'])
dfHourlyTrafficPartial['DateHourHash'] = dfHourlyTrafficPartial.apply(lambda row: str(row.DateCopy)[:10] + str(row.Hour), axis=1)
dfHourlyTraffic['DateHourHash'] = dfHourlyTrafficPartial['DateHourHash']
dfHourlyTraffic = dfHourlyTraffic.set_index('DateHourHash')
dfHourlyTraffic

              Hour  VehicleCount   DateCopy
DateHourHash
2015-11-280      0          1420 2015-11-28
2015-11-281      1          1010 2015-11-28
2015-11-282      2           805 2015-11-28
2015-11-283      3           890 2015-11-28
2015-11-284      4          1234 2015-11-28
2015-11-285      5          1306 2015-11-28
2015-11-286      6          1866 2015-11-28
2015-11-287      7          2356 2015-11-28
2015-11-288      8          2787 2015-11-28
2015-11-289      9          3230 2015-11-28
2015-11-2810    10          3559 2015-11-28
2015-11-2811    11          3847 2015-11-28
2015-11-2812    12          3907 2015-11-28
2015-11-2813    13          4063 2015-11-28
2015-11-2814    14          4217 2015-11-28
2015-11-2815    15          4399 2015-11-28
2015-11-2816    16          4294 2015-11-28
2015-11-2817    17          4317 2015-11-28
2015-11-2818    18          4475 2015-11-28
2015-11-2819    19          4378 2015-11-28
2015-11-2820    20          3695 2015-11-28
2015-11-2821    21          3235 2015-11-28
2015-11-2822    22          3456 2015-11-28
2015-11-2823    23          2820 2015-11-28
2015-11-270      0          2518 2015-11-27
2015-11-271      1          1509 2015-11-27
2015-11-272      2           968 2015-11-27
2015-11-273      3           778 2015-11-27
2015-11-274      4           960 2015-11-27
2015-11-275      5          1555 2015-11-27
...            ...           ...        ...
2014-01-0218    18          2730 2014-01-02
2014-01-0219    19          1992 2014-01-02
2014-01-0220    20          1504 2014-01-02
2014-01-0221    21          1185 2014-01-02
2014-01-0222    22           906 2014-01-02
2014-01-0223    23           703 2014-01-02
2014-01-010      0          1655 2014-01-01
2014-01-011      1          2633 2014-01-01
2014-01-012      2          2358 2014-01-01
2014-01-013      3          1567 2014-01-01
2014-01-014      4          1329 2014-01-01
2014-01-015      5          1464 2014-01-01
2014-01-016      6          1410 2014-01-01
2014-01-017      7          1303 2014-01-01
2014-01-018      8          1324 2014-01-01
2014-01-019      9          1462 2014-01-01
2014-01-0110    10          1711 2014-01-01
2014-01-0111    11          2147 2014-01-01
2014-01-0112    12          2806 2014-01-01
2014-01-0113    13          3272 2014-01-01
2014-01-0114    14          3792 2014-01-01
2014-01-0115    15          3795 2014-01-01
2014-01-0116    16          3875 2014-01-01
2014-01-0117    17          3634 2014-01-01
2014-01-0118    18          3561 2014-01-01
2014-01-0119    19          3118 2014-01-01
2014-01-0120    20          2657 2014-01-01
2014-01-0121    21          2344 2014-01-01
2014-01-0122    22          1963 2014-01-01
2014-01-0123    23          1432 2014-01-01

[16704 rows x 3 columns]

In [59]:
newZeroAccidentDf = dfHourlyTraffic.filter(items = ['DateCopy', 'Hour'])
newZeroAccidentDf['AccidentCount'] = 0
newZeroAccidentDf

               DateCopy  Hour  AccidentCount
DateHourHash
2015-11-280  2015-11-28     0              0
2015-11-281  2015-11-28     1              0
2015-11-282  2015-11-28     2              0
2015-11-283  2015-11-28     3              0
2015-11-284  2015-11-28     4              0
2015-11-285  2015-11-28     5              0
2015-11-286  2015-11-28     6              0
2015-11-287  2015-11-28     7              0
2015-11-288  2015-11-28     8              0
2015-11-289  2015-11-28     9              0
2015-11-2810 2015-11-28    10              0
2015-11-2811 2015-11-28    11              0
2015-11-2812 2015-11-28    12              0
2015-11-2813 2015-11-28    13              0
2015-11-2814 2015-11-28    14              0
2015-11-2815 2015-11-28    15              0
2015-11-2816 2015-11-28    16              0
2015-11-2817 2015-11-28    17              0
2015-11-2818 2015-11-28    18              0
2015-11-2819 2015-11-28    19              0
2015-11-2820 2015-11-28    20              0
2015-11-2821 2015-11-28    21              0
2015-11-2822 2015-11-28    22              0
2015-11-2823 2015-11-28    23              0
2015-11-270  2015-11-27     0              0
2015-11-271  2015-11-27     1              0
2015-11-272  2015-11-27     2              0
2015-11-273  2015-11-27     3              0
2015-11-274  2015-11-27     4              0
2015-11-275  2015-11-27     5              0
...                 ...   ...            ...
2014-01-0218 2014-01-02    18              0
2014-01-0219 2014-01-02    19              0
2014-01-0220 2014-01-02    20              0
2014-01-0221 2014-01-02    21              0
2014-01-0222 2014-01-02    22              0
2014-01-0223 2014-01-02    23              0
2014-01-010  2014-01-01     0              0
2014-01-011  2014-01-01     1              0
2014-01-012  2014-01-01     2              0
2014-01-013  2014-01-01     3              0
2014-01-014  2014-01-01     4              0
2014-01-015  2014-01-01     5              0
2014-01-016  2014-01-01     6              0
2014-01-017  2014-01-01     7              0
2014-01-018  2014-01-01     8              0
2014-01-019  2014-01-01     9              0
2014-01-0110 2014-01-01    10              0
2014-01-0111 2014-01-01    11              0
2014-01-0112 2014-01-01    12              0
2014-01-0113 2014-01-01    13              0
2014-01-0114 2014-01-01    14              0
2014-01-0115 2014-01-01    15              0
2014-01-0116 2014-01-01    16              0
2014-01-0117 2014-01-01    17              0
2014-01-0118 2014-01-01    18              0
2014-01-0119 2014-01-01    19              0
2014-01-0120 2014-01-01    20              0
2014-01-0121 2014-01-01    21              0
2014-01-0122 2014-01-01    22              0
2014-01-0123 2014-01-01    23              0

[16704 rows x 3 columns]